<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modal Types</title>
    <link rel="stylesheet" href="../../../bower_components/highlightjs/styles/github.css">

    <script src="../../../bower_components/jquery/dist/jquery.js"></script>

    <script src="../../../bower_components/highlightjs/highlight.pack.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

</head>
<body>


<pre>
    <code class="hljs java">
        int i = 10;
        static void test(int x){
            return x * x;
        }

        public static void main(String[] args){
            test(10);
        }


    </code>
</pre>



</body>
</html>